@model Intranet.Models.Mariner
@{
    ViewBag.Title = "Mariner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="../../Scripts/jquery-1.7.2-vsdoc.js" type="text/javascript"></script>
<script src="../../Scripts/jquery-1.7.2.js" type="text/javascript"></script>
<script src="../../Scripts/jquery.chained.js" type="text/javascript"></script>

<script type="text/javascript">

    $(function () {

        $("#DateOfBirth").datepicker({
            changeMonth: true,
            changeYear: true
        });

        $(document).keyup(function () {
            $("#updateButton").addClass("btn-warning");
            $("#updateButton").addClass("btn-large");
        });

        $('#Employer').on('change',function () {
            $("#updateButton").addClass("btn-warning");
            $("#updateButton").addClass("btn-large");
        });



        $("i").click(function () {
            var holdOn = $(this);
            var r = window.confirm("Delete this attachment: " + holdOn.attr("data-filename") + " ?");

            if (r == true) {
                r = window.confirm("Proceed with delete \r" + holdOn.attr("data-filename"));
                if (r == true) {
                    $.ajax({
                        type: 'post',
                        url: '../../Edit/DelAttachment',
                        data: { 'attid': holdOn.attr("id") },
                        success: function (data) {
                            window.location.reload(true);
                        }
                    });

                }
                else { }
            }
            else {

            }

        });
    });

</script>
@if (Model != null)
{
    <div class="row">
        <div class="span8 text-XLarge">Mariner Information </div>

        <div class="span4">
            <a class="btn btn-small" href="../../Info/Details/@Model.id">Back to Mariner Information
            </a>
        </div>



    </div>
}
else
{ 
    @:Mariner not selected.

}

<div class="well">
    <!-- Error Success Msg -->
    <div class="row">
        <div class="span5">
            @if (!Request.QueryString["type"].IsEmpty())
            {
                if (@Request.QueryString["type"] == Intranet.Utils.Const.UserSuccess)
                {
                <div class="alert alert-success">@Request.QueryString["msg"]
                    <button class="close" data-dismiss="alert">×</button>
                </div>
                }
                else if (@Request.QueryString["type"] == Intranet.Utils.Const.UserError)
                {
                <div class="alert alert-error">@Request.QueryString["msg"]
                    <button class="close" data-dismiss="alert">×</button>
                </div>

                }

            }

            <div class="span4 text-XLarge">@ViewBag.Mariner</div>
            <div class="span4 text-XLarge">@ViewBag.MarinerAddress</div>
        </div>
    </div>


    @if (Model != null)
    {
        using (Html.BeginForm("UpdateMariner", "Edit", FormMethod.Post))
        {     
   
        <div class="row">
            <div class="span3">
                Last name<br />
                <input id="LastName" name="LastName" type="text" value="@Model.LastName">
            </div>
            <div class="span3">
                First Name<br />
                <input id="FirstName" name="FirstName" type="text" value="@Model.FirstName">
            </div>
            <div class="span3">
                Middle Name<br />
                <input id="MiddleName" name="MiddleName" type="text" value="@Model.MiddleName">
            </div>
        </div>
 
        <div class="row">
            <div class="span3">
                Address<br />
                <input id="Address" name="Address" type="text" value="@Model.Address">
                <input id="Address2" name="Address2" type="text" value="@Model.Address2">
            </div>
            <div class="span3">
                City<br />
                <input id="City" name="City" type="text" value="@Model.City">
            </div>
            <div class="span1">
                State<br />
                <input style="width:65px;"  id="State" name="State" type="text" value="@Model.State">
            </div>
            <div class="span2">
                ZipCode<br />
                <input style="width:130px;" id="ZipCode" name="ZipCode" type="text" value="@Model.ZipCode">
            </div>


            <div class="span1">
                Country<br />
                <input style="width:100px;" id="Country" name="Country" type="text" value="@Model.Country">
            </div>
        </div>       

    
        <div class="row">
            <div class="span3">
                Home Phone<br />
                <input id="HomePhone" name="HomePhone" type="text" value="@Model.HomePhone">
            </div>
            <div class="span3">
                Cell Phone<br />
                <input id="CellPhone" name="CellPhone" type="text" value="@Model.CellPhone">
            </div>
            <div class="span3">
                Email<br />
                <input id="Email" name="Email" type="text" value="@Model.Email">
            </div>
        </div>    


            
        <div class="row">
            <div class="span3">
                Employer<br />
                 @Html.DropDownListFor(model=> model.Employer, ViewBag.EmployerSelectList as SelectList)
                @*<input id="Employer" name="Employer" type="text" value="@Model.Employer">*@
            </div>
            <div class="span3">
                Rig Name<br />
                <input id="RigName" name="RigName" type="text" value="@Model.RigName">
            </div>
            <div class="span3">
                Citizenship<br />
                <input id="Citizenship" name="Citizenship" type="text" value="@Model.Citizenship">
            </div>


        </div>    
   
        <div class="row">
            <div class="span2">
                SSN<br />
                <input style="width:100px;" id="SSN" name="SSN" type="text" value="@Model.SSN">
            </div>
            <div class="span2">
                Passport<br />
                <input style="width:120px;" id="Passport" name="Passport" type="text" value="@Model.Passport">
            </div>
            <div class="span2">
                Birth Certificate<br />
                <input style="width:120px;"   id="BirthCert" name="BirthCert" type="text" value="@Model.BirthCert">
            </div>
            <div class="span2">
                Date of Birth<br />
                <input style="width:120px;" id="DateOfBirth" name="DateOfBirth" type="text" value="@Convert.ToDateTime(Model.DateOfBirth).ToShortDateString()">
            </div>
            <div class="span2">
                City of Birth<br />
                <input style="width:120px;" id="CityOfBirth" name="CityOfBirth" type="text" value="@Model.CityOfBirth">
            </div>
            <div class="span2">
                State of Birth<br />
                <input style="width:120px;" id="StateOfBirth" name="StateOfBirth" type="text" value="@Model.StateOfBirth">
            </div>
            <div class="span2">
                Country of Birth<br />
                <input style="width:120px;"  id="CountryOfBirth" name="CountryOfBirth" type="text" value="@Model.CountryOfBirth">
            </div>

        </div>    
    
        <!--
    <div class="row">
    <div class="span2">
     Hair Color<br /> 
        <input style="width:100px;" id="HairColor" name="HairColor" type="text" value="@Model.HairColor">
     
    </div>
    <div class="span2">
         Eye Color<br /> 
            <input style="width:120px;" id="EyeColor" name="EyeColor" type="text" value="@Model.EyeColor">       
    </div>
<div class="span2">
         Height<br /> 
            <input style="width:120px;"  id="Height" name="Height" type="text" value="@Model.Height">       
    </div>
<div class="span2">
         Weight<br /> 
            <input style="width:120px;" id="Weight" name="Weight" type="text" value="@Model.Weight">       
    </div>
 
</div>        
 -->
        <div class="row">
            <div class="span2">
                Notes<br />
                <textarea cols="" rows="5" style="width: 930px;" id="Notes" name="Notes" type="text">@Model.Notes</textarea>
            </div>
        </div>
 
        <input type="hidden" name="id" value="@Model.id" />
     
        <input id="updateButton" type="submit" value="Update" /> 
   
        }
        <h3>Mariner Attachments</h3>
        <div class="row">
            <div class="span11">
                @if (ViewBag.MarAttachments != null)
                {
                    foreach (var attach in ViewBag.MarAttachments)
                    { 
                    <span class="text-Normal"><a href="../../Documents/@attach.Location/@attach.Filename">@attach.Filename </a>&nbsp; 
                 <i class="icon-remove-sign" id="@attach.id" data-filename="@attach.Filename"></i>&nbsp; &nbsp;</span>   @:&nbsp; &nbsp; &nbsp;
            }
                }
                else
                { 
                    @: Not Found
        }
            </div>
        </div> 
        <br />
                if (Model != null)
                {   
        <div class="row">
            <div class="span6">
                Add Attachment
  @using (Html.BeginForm("UploadMarAttach", "Edit", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
      <input type="file" name="file" style="width: 400px" /> 
      <input type="hidden" name="marinerid" value="@Model.id" />
      <input type="submit" value="Upload selected file" />
  }
            </div>
        </div> 
        <br /> 
                }
    }